div{
	display:block;
}

#header{
	background-color:#B2B2B2;
	position:absolute;
    left: 0;
    right: 0;
    top: 0;
    padding:15px;
    height:60px;
    background-size:100%; 
}
h1{
	font-family: Impact;
	color: #336600;
}
.right{
	background-color:#66CCFF;
	position: absolute;
	right:0px;
	bottom:0px;
	top:90px;
	left:140px;
	text-align:center;
}
.left{
	background-color:#E6E6E6;
	float: left;
	position:absolute;
	left:0px;
	top:90px;
	bottom:0px;
}
li{
	background-color:none;
	list-style: none;
	width: 100px;
	margin-left:0px;
	font-family: Arial;
}